//
// Colors
//

$brand: #FF8300;

$brand-colors: (
    king: 7435FF,
    ocean: #148DFF,
    grass: #7BD100,
    ruby: #FF4651,
    sun: #FEDE36
);

//
// Background
//
@each $name, $color in $brand-colors {
    .bg-#{$name} {
        background-color: $color;
    }
}

//
// Links
//
.link {
    color: $brand;
    text-decoration: none;
    border-bottom: 1px solid rgba(116,53,255, .3);
    transition: color .3s ease,border-color .3s ease;

    &:visited {
        color: #b40eb4;
        border-color: rgba(180,14,180,.3);
        text-decoration: none;

        &:hover {
            color: #f41224;
            border-color: rgba(244,18,36,.3);
            text-decoration: none;
        }
    }

    &:hover {
        color: #f41224;
        border-color: rgba(244,18,36,.3);
        text-decoration: none;
    }
}

.dp-nav-link {
    font-weight: 700;
    font-size: 18px;
}

.holland {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    box-shadow: 0 0 13px 0 rgba(82, 63, 105, .05);
    background-color: #FFF;
    margin-bottom: 20px;
    border-radius: 5px;

    .holland__head {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        position: relative;
        padding: 0 25px;
        border-bottom: 0;
        min-height: 60px;

        .holland__head-label {
            display: flex;
            align-items: center;

            .holland__head-title {
                margin: 0;
                padding: 0;
                font-size: 1.2rem;
                font-weight: 500;
                color: #48465B;
            }
        }
    }

    .holland__body {
        display: flex;
        flex-direction: column;
        padding: 25px;

        .holland__content {
            padding: 0;
            margin: 0;
        }
    }
}

//
// Pizza card
//
.pizza-cards {
    flex: 1 0 auto;
    margin: 0 auto;

    .pizza-cards__section {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;

        .pizza-card {
            display: flex;
            margin-bottom: 60px;
            width: 345px;
            margin-right: 25px;
            flex-flow: column;

            .pizza-card__wrapper {
                width: 100%;
                font-size: 14px;
                line-height: 20px;
                color: rgb(115, 121, 140);
                font-weight: 400;
                margin: 0;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                flex-grow: 1;

                .pizza-card__image {
                    position: relative;
                    width: 100%;
                    margin: 0;

                    img {
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                    }
                }

                .pizza-card__header {
                    color: #000;
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: 500;
                    margin: 8px 0;
                }

                .pizza-card__body {
                    flex-grow: 1;
                }

                .pizza-card__footer {
                    display: flex;
                    margin-top: 15px;

                    .pizza-card__info {
                        padding-right: 4px;
                        line-height: 42px;
                        flex: 1 1 auto;
                        display: flex;
                        justify-content: space-between;

                        .pizza-card__price {
                            font-size: 22px;
                            color: #222;
                            font-weight: 500;
                        }

                        .pizza-card__sizes {

                        }
                    }

                    .pizza-card__box {
                        display: flex;
                        width: 115px;
                        height: 42px;
                    }
                }
            }
        }
    }
}








