//
// Colors
//

$brand: #FF8300;

$brand-colors: (
    king: 7435FF,
    ocean: #148DFF,
    grass: #7BD100,
    ruby: #FF4651,
    sun: #FEDE36
);

//
// Background
//
@each $name, $color in $brand-colors {
    .bg-#{$name} {
        background-color: $color;
    }
}

//
// Links
//
.link {
    color: $brand;
    text-decoration: none;
    border-bottom: 1px solid rgba(116,53,255, .3);
    transition: color .3s ease,border-color .3s ease;

    &:visited {
        color: #b40eb4;
        border-color: rgba(180,14,180,.3);
        text-decoration: none;

        &:hover {
            color: #f41224;
            border-color: rgba(244,18,36,.3);
            text-decoration: none;
        }
    }

    &:hover {
        color: #f41224;
        border-color: rgba(244,18,36,.3);
        text-decoration: none;
    }
}

.holland {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    box-shadow: 0 0 13px 0 rgba(82, 63, 105, .05);
    background-color: #FFF;
    margin-bottom: 20px;
    border-radius: 5px;

    .holland__head {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        position: relative;
        padding: 0 25px;
        border-bottom: 0;
        min-height: 60px;

        .holland__head-label {
            display: flex;
            align-items: center;

            .holland__head-title {
                margin: 0;
                padding: 0;
                font-size: 1.2rem;
                font-weight: 500;
                color: #48465B;
            }
        }
    }

    .holland__body {
        display: flex;
        flex-direction: column;
        padding: 25px;

        .holland__content {
            padding: 0;
            margin: 0;
        }
    }
}

//
// Pizza card
//
.pizza-cards {
    flex: 1 0 auto;
    margin: 0 auto;

    .pizza-cards__section {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;

        .pizza-card {
            display: flex;
            margin-bottom: 60px;
            width: 345px;
            margin-right: 25px;
            flex-flow: column;

            .pizza-card__wrapper {
                width: 100%;
                font-size: 14px;
                line-height: 20px;
                color: rgb(115, 121, 140);
                font-weight: 400;
                margin: 0;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                flex-grow: 1;

                .pizza-card__image {
                    position: relative;
                    width: 100%;
                    margin: 0;

                    img {
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                    }
                }

                .pizza-card__header {
                    display: flex;
                    justify-content: space-between;
                    margin: 8px 0;
                    font-weight: 500;

                    .pizza-card__title {
                        color: #000;
                        font-size: 20px;
                        line-height: 24px;
                    }

                    .pizza-card__weight {
                        color: #444;
                        font-size: 16px;
                    }
                }

                .pizza-card__body {
                    flex-grow: 1;
                }

                .pizza-card__footer {
                    display: flex;
                    margin-top: 15px;

                    .pizza-card__info {
                        padding-right: 4px;
                        line-height: 42px;
                        flex: 1 1 auto;
                        display: flex;
                        justify-content: space-between;

                        .pizza-card__price {
                            font-size: 22px;
                            color: #222;
                            font-weight: 500;
                        }

                        .pizza-card__sizes {

                        }
                    }

                    .pizza-card__box {
                        display: flex;
                        width: 115px;
                        height: 42px;
                    }
                }
            }
        }
    }
}

.cart-items {
    margin: 30px 0 24px;
    border-top: 1px solid #f1f2f5;
    width: 75%;
    display: flex;
    flex-direction: column;

    .cart-item {
        display: flex;
        width: 100%;
        transition: all .2s ease;
        transform: translateZ(0);
        border-bottom: 1px solid #f1f2f5;
        min-height: 96px;
        padding: 16px 0;

        .cart-item__image {
            width: 67px;
            position: relative;
            flex: 0 0 auto;
            margin-right: 12px;
        }

        .cart-item__info {
            width: calc(85% - 233px);
            flex: 0 0 auto;
            padding-right: 12px;
            align-self: center;

            .cart-item__title {
                margin: 0;
                color: #000;
                font-size: 22px;
                line-height: 23px;
                font-weight: 500;
            }

            .cart-item__size {
                margin-top: 4px;
                font-size: 12px;
                line-height: 1.4;
                color: #73798c;
            }
        }

        .cart-item__actions {
            flex: 0 0 auto;
            width: 100px;
            margin: 0 12px;
            display: flex;
            align-items: center;

            .cart-item__button {
                background: transparent;
                outline: none !important;
                vertical-align: middle;
                cursor: pointer;
                color: #FFB822;
                border: none;
                text-align: center;
                font-weight: 400;
                display: flex;
                align-self: center;

                .far {
                    font-size: 1.5rem;
                }
            }

            .cart-item__quantity {
                color: #555;
                font-weight: 500;
                font-size: 18px;
                margin: 0 10px;
            }
        }

        .cart-item__price {
            flex: 0 0 auto;
            width: 15%;
            padding-top: 16px;
            text-align: right;
            font-size: 21px;
            color: #373535;
        }

        .cart-item__delete {
            margin-left: 15px;
            display: flex;
            align-items: center;

            .cart-item__button {
                background: transparent;
                outline: none !important;
                vertical-align: middle;
                cursor: pointer;
                color: #373535;
                border: none;
                text-align: center;
                font-weight: 400;
                display: flex;
                align-self: center;

                .fas {
                    font-size: 1.2rem;
                }

            }
        }
    }
}

.auth {
    margin-top: 5rem;
}

.auth-form {
    border: 1px solid #f1f2f5;
    border-radius: 5px;
    margin-top: 15px;
    padding: 50px 20px;

    .form-group {
        margin-bottom: 2rem;
    }
}

.profile {
    margin-top: 3rem;

    .profile__menu {

    }

    .profile__form {
        margin-bottom: 3rem;
    }

    form {
        h3 {
            margin-bottom: 1rem;
        }
    }
}


