// Body
$body-bg: #F0F0F0;

// Typography
$font-family-sans-serif: 'Rubik', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$theme-colors: (
    "primary": #7435FF,
    "secondary": #F9F9FC,
    "success": #1DC9B7,
    "alert": #FFB822,
    "info": #5578EB,
    "dark": #645CA1,
);
